.van-page[data-v-8145aaf8]{padding:16px}.button-container[data-v-8145aaf8]{text-align:center;margin-bottom:16px}.usage-scenarios[data-v-8145aaf8]{width:100%;text-align:left}.bold[data-v-8145aaf8]{font-weight:700}
