.van-page[data-v-7822ecef]{padding:16px}.button-container[data-v-7822ecef]{text-align:center;margin-bottom:16px}.usage-scenarios[data-v-7822ecef]{width:100%;text-align:left}.bold[data-v-7822ecef]{font-weight:700}
