.van-tabbar[data-v-60d7a7fa]{position:fixed;bottom:0;width:100%;background-color:#fff;box-shadow:0 -2px 8px #0000001a}.tabbar-link[data-v-60d7a7fa]{display:flex;justify-content:center;align-items:center;flex:1}
